{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "experimentalTernaries": true,
  "semi": false,
  "singleQuote": true
}
